@font-face {
  font-family: "Qanelas Soft";
  src: url(QanelasSoftDEMO-ExtraBold.otf);
}

html {
  height: 100%;
}

.img {
  max-height: 100px;
}

body {
  background: #f2f2f2;
  position: relative;
  height: 100%;
  padding-bottom: 10em;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 100%;
  margin: auto;
}

header {
  background: #000;
  width: 100%;
  min-height: 5em;
}

.content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.ng-scope {
  width: inherit;
}

.avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.image-cont {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 1em;
}

.edit {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,.5);
  opacity: 0;
  transition: .7s;
  z-index: 99;
  border-radius: 1em;
}
.edit:hover {
  opacity: 1;
}

.edit-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 100;
}

.edit-form {
  position: absolute;
  width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
}

nav {
  height: 25em;
  width: 0;
  float: left;
  white-space: nowrap;
  display: flex;
}

input {
  display: block;
}

.menu {
  background: rgba(255, 255, 255, .5);
  width: 0;
  height: 25em;
  margin-top: 2em;
  border-radius: 0 1em 1em 0;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  transition: 0.5s;
  float: left;
}

.menu.open {
  width: 10em;
  padding: 1em;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  transition: 0.5s;
}

main.smaller {
  margin: auto;
  margin-left: 11em;
  width: inherit;
}

.list-goal {
  height: 2.5em;
  padding: .2em .7em;
  margin: .5em;
  border-radius: .8em;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #595959;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: .02em;
  cursor: pointer;
}
.list-goal:nth-child(4n+1) {
  background: rgb(255,216,195);
}
.list-goal:nth-child(4n+2) {
  background: rgb(238,216,195);
}
.list-goal:nth-child(4n+3) {
  background: rgb(221,216,195);
}
.list-goal:nth-child(4n+4) {
  background: rgb(204,216,195);
}

.jiggle {
  animation: jiggle 0.2s 5;
  transform: rotate(-3deg);
  -webkit-animation: jiggle 0.2s 5;
  -webkit-transform: rotate(-3deg);
}

.nav_icon {
  width: 3em;
  height: 3em;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
  /*background: black;*/
}

.burg1, .burg2, .burg3 {
  width: 2em;
  height: .3em;
  border-radius: 2em;
  background: #e2e2e2;
  margin: .1em;
  transition: 0.4s;
  display: block;
}
.burg1.close {
  -webkit-transform: rotate(-45deg) translate(-.2em, .3em);
  transform: rotate(-45deg) translate(-.2em, .3em);
}
.burg2.close{
  width: 0;
}
.burg3.close {
  -webkit-transform: rotate(45deg) translate(-.3em, -.6em);
  transform: rotate(45deg) translate(-.3em, -.6em);
}

.dim {
  background-color: rgba(0, 0, 0, .4);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 5000;
  display: none;
}

.item-modal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.modal {
  background: rgb(187,216,195);
  box-shadow: 0px 2px 5px grey;
  margin: auto;
  color: #595959;
  box-shadow: 0px 2px 10px #33332e;
  text-align: left;
  padding: 20px 30px;
  border-radius: 2.2em;
  width: 450px;
  height: 450px;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: .02em;
}
.modal:nth-child(4n+1) {
  background: rgb(255,216,195);
}
.modal:nth-child(4n+2) {
  background: rgb(238,216,195);
}
.modal:nth-child(4n+3) {
  background: rgb(221,216,195);
}
.modal:nth-child(4n+4) {
  background: rgb(204,216,195);
}

.modal > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /*border: 1px solid red;*/
  margin: 40px 0;
}

.modal h4 {
  font-size: 14px;
}

.close {
  cursor: pointer;
  text-align: right;
  font-size: 24px;
  margin-top: 5px;
  padding: 0;
}

.modal a {
  text-decoration: none;
  color: #595959;
}

.modal a:hover {
  opacity: .7;
}

.modal-img {
  height: 175px !important;
  width: 175px;
  object-fit: cover;
  border-radius: 1em;
  /*border: 1px solid red;*/
}

.modal p {
  width: 250px;
  margin-top: 0;
  padding: 0;
}

.modal button {
  border: 1px solid #595959;
  cursor: pointer;
  text-align: right;
  border-radius: .7em;
  background: rgba(187,216,195,1.2);
}

footer {
  position: absolute;
  width: 15em;
  height: 10em;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #ddd;
  border-top-right-radius: 100%;
  box-sizing: border-box;
  padding: 3.5em 3.5em 0 0;
  line-height: 1.5em;
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-1deg);
        }
    50% {
        -webkit-transform: rotate(1deg);
    }
}
