html {
  height: 100%;
}

body {
  background: #f7f7f7 url('../images/logo.png') no-repeat;
  background-position: bottom left;
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: 2em;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  background: #898989;
  width: 100%;
  min-height: 60px;
  max-height: 60px;
  padding: 0;
  z-index: 1000;
}

header li {
  display: inline-block;
  color: #383838;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 35px;
  font-weight: 800;
  width: 150px;
  text-align: center;
  transition: .3s;
  box-sizing: border-box;
}

header li:hover {
  background: #a9a9a9;
}

header ul {
  cursor: pointer;
}

.small-logo {
  overflow: hidden;
  height: 60px;
  position: absolute;
  right: 0;
  padding: 3px 10px 0 0;
  box-sizing: border-box;
}

.small-logo img {
  height: 55px;
}

.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.fade {
  background: -webkit-linear-gradient(bottom, rgba(247,247,247,1) 0%,rgba(247,247,247,0) 100%);
  width: 80%;
  z-index: 100;
  height: 200px;
  position: absolute;
  /*top: 50%;*/
  margin-left: 20%;
  bottom: 2em;
}

/*
.ng-scope {
  width: inherit;
}*/

/*.login-links {
  cursor: pointer;
}

.login-links:hover {
  opacity: .7;
}*/

.user-head {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  margin-bottom: 40px;
}

.user-head h1 {
  font-size: 100px;
  line-height: 0;
  color: #383838;
  font-family: 'Mukta Malar', sans-serif;
  font-weight: 800;
}


.avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.image-cont {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 1em;
}


.av-cont {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 1em;
}

.edit {
  position: absolute;
  width: 120px;
  height: 120px;
  background: rgba(255,255,255,.6);
  opacity: 0;
  transition: .7s;
  z-index: 99;
  color: #525252;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
.edit:hover {
  opacity: 1;
}

img.user-av {
  max-height: 120px;
  max-width: 120px;
}

.bg {
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: 100%;
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

nav {
  background: #c2cdba;
  width: 12em;
  height: 12.7em;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  transition: 0.5s;
  float: left;
  animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

nav.ul {
  z-index: 100;
}

input {
  display: block;
}

/*.menu {
  background: #ccd8c3;
  width: 12em;
  height: 14em;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  transition: 0.5s;
  float: left;
}*/

nav ul {
  margin: 0;
  padding-top: 0px;
}

nav li {
  display: block;
  padding: 19px 15px 19px 0;
  color: #525252;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 20px;
  text-align: right;
  transition: .3s;
  cursor: pointer;
}

nav li:hover {
  background-color: #d8e0d1;
}

.ex {
  height: 30px;
  width: 100%;
  margin: 0;
  color: #525252;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 20px;
  font-weight: 800;
  padding: 5px 5px;
  line-height: 30px;
  box-sizing: border-box;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin-left: 20%;
  transition: 0.5s;
  align-content: flex-start;
}

/*main.smaller {
  margin: auto;
  margin-left: 11em;
  width: inherit;
}*/

.user-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.user-lists {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

}

.user-lists h2 {
  color: #898989;
  margin: 0 auto;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 45px;
  font-weight: 800;
}

.todo {
  width: 25em;
  height: 90%;
  background: #eee;
  float: left;
  display: flex;
  flex-direction: column;
  border-radius: 1em 1em 0 0;
  margin-right: 10px;
}

.todo-items {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.complete {
  width: 25em;
  height: 90%;
  background: #eee;
  float: right;
  display: flex;
  flex-direction: column;
  border-radius: 1em 1em 0 0;
  margin-left: 10px;
}

.list-goal {
  height: 2.5em;
  padding: .2em .7em;
  margin: .5em;
  border-radius: .5em;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #595959;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: .02em;
  cursor: pointer;
}
.list-goal:nth-child(4n+1) {
  background: rgb(255,216,195);
}
.list-goal:nth-child(4n+2) {
  background: rgb(238,216,195);
}
.list-goal:nth-child(4n+3) {
  background: rgb(221,216,195);
}
.list-goal:nth-child(4n+4) {
  background: rgb(204,216,195);
}

.jiggle {
  animation: jiggle 0.2s 5;
  -webkit-animation: jiggle 0.2s 5;
}

.nav_icon {
  width: 3em;
  height: 3em;
  /*position: fixed;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
  /*z-index: 100;*/
}

.burg1, .burg2, .burg3 {
  width: 2em;
  height: .3em;
  border-radius: 2em;
  background: #e2e2e2;
  margin: .1em;
  transition: 0.4s;
  display: block;
}

.dim {
  background-color: rgba(0, 0, 0, .4);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  display: none;
}

.item-modal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #a9a9a9;
  margin: auto;
  color: #595959;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

h3.close {
  cursor: pointer;
  text-align: right;
  font-size: 24px;
  margin-top: 5px;
  padding: 0;
}

h3.close-modal {
  line-height: 20px;
  margin: 0;
}

.close-box {
  width: 100%;
  text-align: left;
  padding-top: 5px;
  padding-left: 5px;
}

h3.log-reg {
  color: #383838;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 100px;
  font-weight: 800;
  line-height: 125px;
  margin: 0;
}

.modal a {
  text-decoration: none;
  color: #595959;
}

.modal a:hover {
  opacity: .7;
}

.modal form {
  margin-top: 10px;
}

.modal input {
  display: inline;
  background: #d8d8d8;
  border: 0;
  width: 200px;
  height: 40px;
  outline: none;
  border-radius: 5px;
  text-align: center;
  color: #4f4f4f;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin: 5px 10px;
}

.modal input::placeholder {
  color: #626262;
}

.modal.new {
  height: 280px;
}

.goal-inputs {
  display: flex;
  flex-direction: column;
  height: 280px;
  float: left;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

input.new-goal {
  width: 250px;
}

.modal textarea {
  color: #4f4f4f;
  background: #d8d8d8;
  font-family: 'Mukta Malar', sans-serif;
  width: 250px;
  height: 150px;
  resize: none;
  border: none;
  outline: 0;
  box-sizing: border-box;
  letter-spacing: .1em;
  border-radius: 5px;
  font-size: 20px;
  line-height: 20px;
  margin: 5px 10px;
}

.modal textarea::placeholder {
  text-align: center;
}

h3.new-goal-modal {
  color: #383838;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 80px;
  font-weight: 800;
  line-height: 60px;
  width: 200px;
  margin-top: 45px;
}

h3.edit-av-modal {
  color: #383838;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 80px;
  font-weight: 800;
  line-height: 60px;
  width: 300px;
  margin-top: 45px;
}

h4.new-image {
  color: #383838;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 0;
}

.change-av-form {
  display: flex;
  flex-direction: column;
  height: 280px;
  float: left;
  text-align: center;
  box-sizing: border-box;
  padding-top: 40px;
}

.modal button {
  color: #d8d8d8;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  background: #4f4f4f;
  display: block;
  margin: 5px auto;
  border: none;
  width: 150px;
  height: 40px;
  line-height: 40px;
}

.new-button {
  float: right;
  display: flex;
  align-items: center;
  height: 100%;
}

button.new-submit {
  height: 100px;
  width: 70px;
  font-size: 70px;
  color: #adadad;
  line-height: 105px;
}

.show-cont {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.show-left {
  float: left;
  width: 40%;
  text-align: right;
  padding: 10px 20px;
}

.show-right {
  float: right;
  width: 60%;
  height: 250px;
  padding: 20px 20px;
  overflow: auto;
}

h3.show-post {
  color: #383838;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 30px;
  margin: 0;
}

.modal p {
  width: 90%;
  height: auto;
  overflow-y: auto;
  color: #383838;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.modal img {
  max-height: 180px;
  max-width: 100%;
}

h4.created-by {
  color: #383838;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 0;
}

footer {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 80%;
  height: 2em;
  right: 0;
  bottom: 0;
  justify-content: flex-end;
}

.created, .by, .team {
  height: 2em;
  text-align: center;
  background: #898989;
  box-sizing: border-box;
  color: #c2c2c2;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 35px;
  font-weight: 800;
}

.created {
  border-top-right-radius: .5em;
  border-top-left-radius: .5em;
  margin-right: 1em;
  min-width: 7em;
}

.by {
  border-top-right-radius: .5em;
  border-top-left-radius: .5em;
  min-width: 4em;
}

.team {
  border-top-left-radius: .5em;
  margin-left: 1em;
  min-width: 12em;
}

.team a {
  color: #c2c2c2;
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-300px);
  }
  100% {
    -webkit-transform: translateY(auto);
  }
}

@-webkit-keyframes jiggle {
  0% {
    -webkit-transform: rotate(-1deg);
  }
  50% {
    -webkit-transform: rotate(1deg);
  }
}
