@font-face {
  font-family: "Qanelas Soft";
  src: url(QanelasSoftDEMO-ExtraBold.otf);
}

html {
  height: 100%;
}

body {
  background: #f7f7f7;
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: 2em;
  margin: 0;
}

img {
  max-height: 100px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  background: #898989;
  width: 100%;
  min-height: 60px;
  max-height: 60px;
  padding: 0;
}

header li {
  display: inline-block;
  color: #383838;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 35px;
  font-weight: 800;
  width: 150px;
  text-align: center;
  transition: .3s;
  box-sizing: border-box;
}

header li:hover {
  background: #a9a9a9;
}

header ul {
  cursor: pointer;
}

.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

/*
.ng-scope {
  width: inherit;
}*/

/*.login-links {
  cursor: pointer;
}

.login-links:hover {
  opacity: .7;
}*/

.user-head {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  margin-bottom: 40px;
}

.user-head h1 {
  font-size: 100px;
  line-height: 0;
  color: #383838;
  font-family: 'Mukta Malar', sans-serif;
  font-weight: 800;
}


.avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.image-cont {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 1em;
}

.edit {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,.5);
  opacity: 0;
  transition: .7s;
  z-index: 99;
  border-radius: 1em;
}
.edit:hover {
  opacity: 1;
}

.edit-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 100;
}

.edit-form {
  position: absolute;
  width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
}
/*
nav {
  height: 25em;
  width: 0;
  float: left;
  white-space: nowrap;
  display: flex;
}*/

nav {
  background: #ccd8c3;
  width: 12em;
  height: 14em;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  transition: 0.5s;
  float: left;
}


input {
  display: block;
}

/*.menu {
  background: #ccd8c3;
  width: 12em;
  height: 14em;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  transition: 0.5s;
  float: left;
}*/

.menu.open {
  width: 10em;
  padding: 1em;
}

nav ul {
  margin: 0;
  padding-top: 0px;
}

nav li {
  display: block;
  padding: 19px 10px 19px 0;
  color: #525252;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 20px;
  text-align: right;
  transition: .3s;
}

nav li:hover {
  background-color: #d8e0d1;
}

.ex {
  height: 50px;
  width: 100%;
  margin: 0;
  color: #525252;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 30px;
  font-weight: 800;
  padding: 0;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin-left: 20%;
  transition: 0.5s;
  align-content: flex-start;
}

/*main.smaller {
  margin: auto;
  margin-left: 11em;
  width: inherit;
}*/

.user-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.user-lists {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

}

.user-lists h2 {
  color: #898989;
  margin: 0 auto;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 45px;
  font-weight: 800;
}

.todo {
  width: 25em;
  height: 90%;
  background: #f4f4f4;
  float: left;
  display: flex;
  flex-direction: column;
  border-radius: 1em 1em 0 0;
  margin-right: 10px;
}

.todo-items {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.complete {
  width: 25em;
  height: 90%;
  background: #f4f4f4;
  float: right;
  display: flex;
  flex-direction: column;
  border-radius: 1em 1em 0 0;
  margin-left: 10px;
}

.list-goal {
  height: 2.5em;
  padding: .2em .7em;
  margin: .5em;
  border-radius: .5em;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #595959;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: .02em;
  cursor: pointer;
}
.list-goal:nth-child(4n+1) {
  background: rgb(255,216,195);
}
.list-goal:nth-child(4n+2) {
  background: rgb(238,216,195);
}
.list-goal:nth-child(4n+3) {
  background: rgb(221,216,195);
}
.list-goal:nth-child(4n+4) {
  background: rgb(204,216,195);
}

.jiggle {
  animation: jiggle 0.2s 5;
  transform: rotate(-3deg);
  -webkit-animation: jiggle 0.2s 5;
  -webkit-transform: rotate(-3deg);
}

.nav_icon {
  width: 3em;
  height: 3em;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
  /*background: black;*/
}

.burg1, .burg2, .burg3 {
  width: 2em;
  height: .3em;
  border-radius: 2em;
  background: #e2e2e2;
  margin: .1em;
  transition: 0.4s;
  display: block;
}
.burg1.close {
  -webkit-transform: rotate(-45deg) translate(-.2em, .3em);
  transform: rotate(-45deg) translate(-.2em, .3em);
}
.burg2.close{
  width: 0;
}
.burg3.close {
  -webkit-transform: rotate(45deg) translate(-.3em, -.6em);
  transform: rotate(45deg) translate(-.3em, -.6em);
}

.dim {
  background-color: rgba(0, 0, 0, .4);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 5000;
  display: none;
}

.item-modal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.modal {
  background: #a9a9a9;
  margin: auto;
  color: #595959;
  box-shadow: 0px 2px 10px rgba(0,0,0.5);
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  text-align: left;
  width: 100%;
  height: 250px;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: .02em;
}

.modal > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /*border: 1px solid red;*/
  margin: 40px 0;
}

.modal h4 {
  font-size: 14px;
}

.close {
  cursor: pointer;
  text-align: right;
  font-size: 24px;
  margin-top: 5px;
  padding: 0;
}

.modal a {
  text-decoration: none;
  color: #595959;
}

.modal a:hover {
  opacity: .7;
}

.modal-img {
  height: 175px !important;
  width: 175px;
  object-fit: cover;
  border-radius: 1em;
  /*border: 1px solid red;*/
}

.modal p {
  width: 250px;
  margin-top: 0;
  padding: 0;
}

.modal button {
  border: 1px solid #595959;
  cursor: pointer;
  text-align: right;
  border-radius: .7em;
  background: rgba(187,216,195,1.2);
}

footer {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 80%;
  height: 2em;
  right: 0;
  bottom: 0;
  justify-content: flex-end;
}

.created, .by, .team {
  height: 2em;
  text-align: center;
  background: #898989;
  box-sizing: border-box;
  color: #c2c2c2;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 35px;
  font-weight: 800;
}

.created {
  border-top-right-radius: .5em;
  border-top-left-radius: .5em;
  margin-right: 1em;
  min-width: 7em;
}

.by {
  border-top-right-radius: .5em;
  border-top-left-radius: .5em;
  min-width: 4em;
}

.team {
  border-top-left-radius: .5em;
  margin-left: 1em;
  min-width: 12em;
}

.team a {
  color: #c2c2c2;
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-1deg);
        }
    50% {
        -webkit-transform: rotate(1deg);
    }
}
