  <div class="list-goal" ng-repeat="goal in ctrl.list_items | orderBy:'updated_at':true" ng-click="ctrl.homeItemModal = true; ctrl.getOne(goal.id)">
    <!-- <a href="/goal/{{goal.id}}" ng-click="ctrl.getOne(goal.id)"> -->
      {{goal.title}}
    <!-- </a> -->
  </div>

  <div class="dim" ng-class="(ctrl.homeItemModal? 'item-modal' : '')">
    <div class="modal">
      <!-- <h3 class="close" ng-click="ctrl.homeItemModal = false"><i class="material-icons">close</i></h3> -->
      <div class="show-cont">
        <div class="show-left">
          <h4 class="created-by" ng-if="ctrl.oneGoal.users[0].username">
            created by: <a href="/user/{{ctrl.oneGoal.users[0].id}}" ng-click="ctrl.getUser(ctrl.oneGoal.users[0].id); ctrl.homeItemModal = false">{{ctrl.oneGoal.users[0].username}}</a>
          </h4>
          <img src="{{ctrl.oneGoal.img}}" alt="No image found">
        </div>
        <div class="show-right">
          <h3 class="show-post">{{ctrl.oneGoal.title}}</h3>
          <p>{{ctrl.oneGoal.content}}</p>
        </div>
      </div>
    </div>
  </div>
