  <div class="list-goal" ng-repeat="goal in ctrl.list_items | orderBy:'updated_at':true" ng-click="ctrl.homeItemModal = true; ctrl.getOne(goal.id)">
    <!-- <a href="/goal/{{goal.id}}" ng-click="ctrl.getOne(goal.id)"> -->
      {{goal.title}}
    <!-- </a> -->
  </div>

  <div class="dim" ng-class="(ctrl.homeItemModal? 'item-modal' : '')">
    <div class="modal">
      <h3 class="close" ng-click="ctrl.homeItemModal = false"><i class="material-icons">close</i></h3>
      <h3>{{ctrl.oneGoal.title}}</h3>

      <h4 ng-if="ctrl.oneGoal.users[0].username">
        created by: <a href="/user/{{ctrl.oneGoal.users[0].id}}" ng-click="ctrl.homeItemModal = false; ctrl.getUser(ctrl.oneGoal.users[0].id)">{{ctrl.oneGoal.users[0].username}}</a>
      </h4>
      <div>
        <img class="modal-img" src="{{ctrl.oneGoal.img}}" alt="No image found">
        <p>{{ctrl.oneGoal.content}}</p>
      </div>
    </div>
  </div>
