<nav>
  <div class="nav_icon">
    <div class="burg1"></div>
    <div class="burg2"></div>
    <div class="burg3"></div>
  </div>
  <div class="menu">
    Profile<br>
    Add Goal
     <form ng-submit="ctrl.processForm()">
      <input type = "text" ng-model="ctrl.formdata.title" placeholder="Goal Title">
      <input type = "text" ng-model="ctrl.formdata.content" placeholder="About Your Goal">
      <input type = "text" ng-model="ctrl.formdata.img" placeholder="Image URL">
      <input type="submit">
    </form>

  </div>
</nav>

<main>
  <div class="list-goal" ng-repeat="goal in ctrl.list_items">
    {{goal.title}}
    {{goal.users[0].username}}
  </div>
</main>
