<div class="nav_icon">
  <div class="burg1"></div>
  <div class="burg2"></div>
  <div class="burg3"></div>
</div>
<div class="menu">
  <a class="close-it" href="/">Home</a><br>
  <a href="#">Add Goal</a>
  <form ng-submit="ctrl.processForm()">
    <input type = "text" ng-model="ctrl.formdata.title" placeholder="Goal Title">
    <input type = "text" ng-model="ctrl.formdata.content" placeholder="About Your Goal">
    <input type = "text" ng-model="ctrl.formdata.img" placeholder="Image URL">
    <input type="submit">
  </form>

</div>
